body{
    font-family: 'Montserrat', 'Noto Sans', 'Noto Sans JP', 'Noto Sans SC', 'Cairo', 'Noto Sans KR', sans-serif;
}

/* navbar */
.navbar {
    height: 7rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #cd2b00;
    /*font-weight: 700;*/
    
}

.navbar-light .navbar-nav .nav-link:hover {
    /*border-bottom: 1px solid #F84718;*/
    color: #F84718;
    padding-bottom: calc(.5rem - 1px);
}

.navbar-light .navbar-nav .nav-item{ /*https://stackoverflow.com/questions/58939609/bootstrap-4-nav-link-hover-effect*/
    position: relative;
}

.navbar-light .navbar-nav .nav-item .nav-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #F84718;
    transition:  all 0.5s ease-in-out 0s;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover:after {
    width: 100%;
}

/*@media(min-width: 576px) {
    .navbar-expand-sm .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        justify-content: flex-end;
    }
}*/
.navbar-brand {
    background: rgb(22,36,56);
    background: linear-gradient(129deg, rgba(36,49,69,1) 75%, rgba(248,249,250,0.9) 75.5%);
    color: white !important;
    line-height: 1.4rem;
    padding: 2% 8rem 2% 2%;

}
/* buttons */
.btn {
	border-radius: 0px;
}

.btn-primary{
    background-color: rgb(22,36,56);
    border-color: rgb(22,36,56);
}

.btn-primary:hover{
    background-color: #3C4C62;
    border-color: #3C4C62;
}

.btn-primary:focus {
    color: #fff;
    background-color: #3C4C62;
    border-color: #3C4C62;
    box-shadow: 0 0 0 .2rem rgba(22,36,56,.5);
}

.btn-primary.disabled{
    background-color: #243145;
    border-color: #243145;
}

/*jumbotronn*/
.jumbotron.jumbotron-fluid {
    background-image: url("/static/images/logoBUP.png");
    height: 300px;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 700px;
}

.jumbotron .container * {
    background-color: rgba(255, 255, 255, 0.6);
    display: inline-flex;
    padding: 1rem;

}

.footer {
    padding-top: 5px;
    padding-bottom: 5px;
}

/*cards*/
.card{
    border-radius: 0px;
    border-top: 2px, solid, #cd2b00;
}
.card:after {
    content: "";
    position: absolute;
    width:20%;
    /*width: 100%;*/
    height: 2px;
    top: 0;
    left: 0;
    background-color: #cd2b00;
    /*visibility: hidden;
    transform: scaleX(0);*/
    transition: all 0.5s ease-in-out 0s;
}

.card:hover:after {
    width: 100%;
    /*visibility: visible;
    transform: scaleX(1);*/
}
  

.card-img{
    max-width: 100%;
    height: 220px;
    width: auto;
}

/* form */

.form-control:focus {
    border-color: #F84718;
    box-shadow: 0 0 .1rem 0 #FF8E70;
}

.form-control {
    border-radius: 0px;
}

.custom-select {
    border-radius: 0px;
}

.custom-select:focus {
    border-color: #F84718;
    box-shadow: 0 0 .1rem 0 #FF8E70;
}

.alert-info {
    border-radius: 0px;
    background: #546279;
    border-color: #546279;
    color: white;
}

/* bootstrap-select to make it like the "normal" search and select */
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
    width:100%;
}

.btn.dropdown-toggle.btn-light.bs-placeholder { 
    background-color: white;
    border: 1px solid #ced4da;
    color: #6c757d;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #FF8E70;
}

label{
    margin: .5rem;
}