{% extends "base.html" %} {% block title %}CSV to XML{% endblock %} {% block body %}

<!--background image-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>CSV to XML</h1><br>
      <p>Una webapp per la creazione di file XML per il caricamento dei DOI su Crossref</p> 
    </div>
</div>
<div class="container">
    <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-12">
            <div class="card-body">
                <h3 class="card-title">XML - Riviste</h3>
                <p class="card-text">A partire da un modello CSV, viene creato un file XML secondo il modello "journal_article_4.4.2".<br/>Il file XML è compatibile sia con l'upload di Crossref che con DOAJ.</p>
                <a href="/journals" class="btn btn-primary" role="button">Vai</a>
            </div>
          </div>
        </div>
    </div>

{% endblock %}
