{% extends "base.html" %} {% block title %}CSV to XML{% endblock %} {% block body %}

<!--form-->

<div class="container">
    <h1>Inserisci i dati</h1>
    <br>
    <p>Form per i metadati della rivista</p>
    <form method="POST" enctype=multipart/form-data> <!-- this is important! -->
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="title">Titolo rivista</label>
                    <input class="form-control" id="inputdefault" type="text" name="title" placeholder="Titolo" value="{{ request.form['title'] }}"/>
                    <label for="issn">ISSN</label>
                    <input class="form-control" id="inputdefault" type="text" name="issn" placeholder="ISSN" value="{{ request.form['issn'] }}"/>
                    <label for="jdoi">Journal DOI</label>
                    <input class="form-control" id="inputdefault" type="text" name="jdoi" placeholder="Journal DOI" value="{{ request.form['jdoi'] }}"/>
                    <label for="file">Carica il CSV degli articoli</label>
                    <input type="file" name="file"/>
                    <!--<input type="submit" name="action" value="Upload" class="btn btn-primary" style="margin:.5rem"/>-->
                </div>
                <div class="col-md-6">
                    <label for="juri">Url rivista</label>
                    <input class="form-control" id="inputdefault" type="text" name="juri" placeholder="Journal URL" value="{{ request.form['juri'] }}"/>
                    <label for="volume">Volume</label>
                    <input class="form-control" id="inputdefault" type="text" name="volume" placeholder="Volume" value="{{ request.form['volume'] }}"/>
                    <label for="issue">Issue</label>
                    <input class="form-control" id="inputdefault" type="text" name="issue" placeholder="Issue" value="{{ request.form['issue'] }}"/>
                    <label for="date">Data</label>
                    <input class="form-control" type="date" id="inputdefault" name="date" value="{{ request.form['date'] }}"/>   
                </div>
            </div>
        </div>
        <hr/>
        <p>Hai compilato tutti i campi?</p>
        <input type="submit" name="action" value="Submit" class="btn btn-primary" />
        </form>
    </form>
</div>

<br>
<!--results-->
<div class="container">
    {% if journal_title %}
    <div class="alert alert-info" role="alert">
        Hai inviato: {{ journal_title }}. 
    </div>
    {% endif %}
    <pre>
        <code>
            {{ xml_text }}
        </code>
    </pre>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

{% endblock %}